---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
    {% if page.widget-1.title %}
    <div class="medium-4 columns">
        <a href="{% if page.widget-1.url contains 'http' %}{{ page.widget-1.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-1.url }}{% endif %}">{% if page.widget-1.image %}<img src="{{ site.urlimg }}/{{ page.widget-1.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-1.video %}{{ page.widget-1.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-1.title }}</h2>
        <p>{{ page.widget-1.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-2.title %}
    <div class="medium-4 columns">
        <a href="{% if page.widget-2.url contains 'http' %}{{ page.widget-2.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-2.url }}{% endif %}">{% if page.widget-2.image %}<img src="{{ site.urlimg }}/{{ page.widget-2.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-2.video %}{{ page.widget-2.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-2.title }}</h2>
        <p>{{ page.widget-2.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-3.title %}
    <div class="medium-4 columns">
        <a href="{% if page.widget-3.url contains 'http' %}{{ page.widget-3.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-3.url }}{% endif %}">{% if page.widget-3.image %}<img src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <a href="{{ page.widget-3.url }}">{% if page.widget-3.image %}<img class="lazy" data-src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-3.title }}</h2>
        <p>{{ page.widget-3.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
    <h2 class="font-size-h3 t10" style="text-align: center;">Hardware&nbsp;&nbsp;Specifications</h2>

    <div class="medium-5 columns">
        <h2 class="font-size-h3 t10">{{ page.spec-1.title }}</h2>
        <p>{{ page.spec-1.text }}</p>

        <h2 class="font-size-h3 t10">{{ page.spec-2.title }}</h2>
        <p>{{ page.spec-2.text }}</p>
    </div><!-- /.medium-4.columns -->

    <div class="medium-5 columns">
        <h2 class="font-size-h3 t10">{{ page.spec-3.title }}</h2>
        <p>{{ page.spec-3.text }}</p>
    </div><!-- /.medium-4.columns -->
</div><!-- /.row -->
